@use "../../mediaQuery";

@include mediaQuery.medium {
	.navbar {
		.helper-navbar {
			align-self: flex-end;
			display: flex;
			margin: auto;
			position: relative;
			width: 80%;
			height: 20px;
			// transition: 150ms ease all;
			.helper-nav-list {
				#rule {
					background-color: #cccccc;
					width: 1px;
					height: 75%;
				}
				width: 400px;
				height: 100%;
				position: relative;
				display: flex;
				justify-content: space-between;
				margin-left: auto;
				align-items: center;

				li {
					position: relative;
					list-style-type: none;
					font-family: "whyte-extra-light";

					a {
						position: relative;
						text-decoration: none;
						font-size: 0.7em;
						color: #cccccc;
						font-family: "whyte-extra-light";
					}
					a:hover {
						color: #eeeeee;
					}
				}

				li:last-child {
					display: flex;
					gap: 0.8em;
				}
			}
		}
		.main-navbar {
			width: 80%;
			height: 70px;
			display: flex;
			justify-content: space-between;
			flex-direction: row;

			.nav-list {
				width: 50%;
				height: fit-content;
				top: unset;
				background-color: unset;
				position: relative;
				flex-direction: row;
				justify-content: space-around;
				padding: unset;
				gap: unset;
				left: unset;
				align-items: center;
				.nav-link {
					a {
						color: #fff;
						font-size: 0.9em;
					}
					a:after {
						background: #fff;
					}
				}

				.mobile-section {
					display: none;
				}
			}

			.nav-helper {
				width: 80px;
				position: relative;
				display: flex;
				right: unset;
				height: unset;
				align-items: unset;
				align-content: unset;
				justify-items: unset;
				justify-content: space-between;
				gap: unset;
				li {
					position: relative;
					list-style-type: none;
					height: fit-content;

					svg {
						width: 12px;
						height: fit-content;
					}
				}

				li:hover {
					svg path {
						fill: rgb(84, 84, 84);
					}
				}

				li:last-child,
				#rule {
					display: unset;
				}
			}
			.hamburger {
				display: none;
			}
		}
	}

	.navbar.sticky {
		background-color: #fff;
		.helper-navbar {
			.helper-nav-list li a {
				color: #000;
			}
			.helper-nav-list li a:hover {
				color: rgb(104, 104, 104);
			}
		}

		.main-navbar {
			#rule {
				background-color: #000;
			}
			height: 50px;

			.logo {
				color: #000;
			}

			.nav-list li a {
				color: #000;
			}

			.nav-list li a::after {
				display: none;
			}

			.nav-list li a:hover {
				color: rgb(84, 84, 84);
			}

			.nav-helper {
				bottom: unset;
				li {
					svg path {
						fill: #000;
						color: #000;
					}
				}
				li:hover {
					svg path {
						fill: rgb(84, 84, 84);
					}
				}
			}
		}
	}
}
